html,*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 1200px;
    height: 350px;
    border: 1px solid #000;
    margin: 0 auto;
}
main h2{
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 10px 0 px;
}
#card{
    width: 300px;
    height: 260px;
    margin-top: 0 auto;
    margin-top: 30px;
    background-color: #ccc;
    box-shadow: 1px 1px 5px #000;
    padding: 10px;
}
#card img{}
#card p{
    font-family:Arial, Helvetica, sans-serif;
}
#price{

}